/219_heart_of_darkness_brat.conll
/2775_the_good_soldier_brat.conll
/33_the_scarlet_letter_brat.conll
/36_the_war_of_the_worlds_brat.conll
/541_the_age_of_innocence_brat.conll
/599_vanity_fair_brat.conll
/9830_the_beautiful_and_damned_brat.conll
/alices_adventures_01_carroll_64kb.mp3
/beautiful_damned_01_fitzgerald_64kb.mp3
/goodsoldier_01_ford_64kb.mp3
/heartofdarkness_01_conrad_64kb.mp3
/herland.mp3
/opioneers_pt101_cather_64kb.mp3
/scarletletter_01_hawthorne_64kb.mp3
/testdone
/theageofinnocence_wharton_chapter01_64kb.mp3
/vanityfair_01_thackeray_64kb.mp3
/warofworlds_b1_ch01_wells_64kb.mp3
/x_beautiful_and_damned.wav
/x_goodsoldier_01_ford_64kb.wav
/x_heartofdarkness_01_conrad_64kb.wav
/x_theageofinnocence_wharton_chapter01_64kb.wav
/x_the_war_of_worlds.wav
/x_vanityfair_01_thackeray_64kb.wav


.zip
